# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/dist/win-unpacked
/release/win-unpacked
debug.log
/release/Vars JKA Server Checker Setup 0.1.3.exe
/release/Vars JKA Server Checker Setup 0.1.3.exe.blockmap
/release/Vars JKA Server Checker Setup 0.1.4.exe
/release/Vars JKA Server Checker Setup 0.1.4.exe.blockmap
/release/builder-effective-config.yaml
/release/latest.yml
/release/*.exe.blockmap