button.btn-toggle-server, form#queryserver button {
  font-family: "Circular Std Book", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  font-size: 14px;
  letter-spacing: 0.6px;
  font-weight: 500;
  color: #FFFFFF;
  border: none;
  background: #46528f;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  transition: background 380ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

button.btn-toggle-server:hover, form#queryserver button:hover {
  background: #353e6d;
}

button.btn-toggle-server:active, form#queryserver button:active {
  background: #2d355c;
  transition: background 48ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

@font-face {
  font-family: 'Circular Std';
  src: url("../fonts/Circular/CircularStd-Black.eot");
  src: url("../fonts/Circular/CircularStd-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Circular/CircularStd-Black.woff2") format("woff2"), url("../fonts/Circular/CircularStd-Black.woff") format("woff"), url("../fonts/Circular/CircularStd-Black.ttf") format("truetype"), url("../fonts/Circular/CircularStd-Black.svg#CircularStd-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circular Std';
  src: url("../fonts/Circular/CircularStd-Medium.eot");
  src: url("../fonts/Circular/CircularStd-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Circular/CircularStd-Medium.woff2") format("woff2"), url("../fonts/Circular/CircularStd-Medium.woff") format("woff"), url("../fonts/Circular/CircularStd-Medium.ttf") format("truetype"), url("../fonts/Circular/CircularStd-Medium.svg#CircularStd-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circular Std';
  src: url("../fonts/Circular/CircularStd-Bold.eot");
  src: url("../fonts/Circular/CircularStd-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Circular/CircularStd-Bold.woff2") format("woff2"), url("../fonts/Circular/CircularStd-Bold.woff") format("woff"), url("../fonts/Circular/CircularStd-Bold.ttf") format("truetype"), url("../fonts/Circular/CircularStd-Bold.svg#CircularStd-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circular Std Book';
  src: url("../fonts/Circular/CircularStd-Book.eot");
  src: url("../fonts/Circular/CircularStd-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Circular/CircularStd-Book.woff2") format("woff2"), url("../fonts/Circular/CircularStd-Book.woff") format("woff"), url("../fonts/Circular/CircularStd-Book.ttf") format("truetype"), url("../fonts/Circular/CircularStd-Book.svg#CircularStd-Book") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Define the "system" font family */
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

*, *:before, *:after {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
}

html button, html input, html ol#fav-list, html li.fav-server, body button, body input, body ol#fav-list, body li.fav-server {
  -webkit-app-region: no-drag;
}

html {
  height: -webkit-fill-available;
}

body {
  position: relative;
  font-family: "Circular Std Book", sans-serif;
  font-size: 14px;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  max-height: 100vh;
  -webkit-app-region: no-drag;
  overflow: hidden;
}

button {
  cursor: pointer;
}

button.change-theme {
  position: absolute;
  bottom: 12px;
  font-family: "Circular Std Book", sans-serif;
  right: 12px;
  z-index: 9999;
  font-size: 12px;
  letter-spacing: 0.6px;
  font-weight: bold;
  width: 142px;
  padding: 12px 0;
  border-radius: 6px;
}

.theme--default button.change-theme {
  background: #efeff3;
  color: #111111;
  border-width: 1px;
  border-style: solid;
  border-color: #AAAAAA;
}

.theme--dark button.change-theme {
  background: #2A2A2A;
  color: #F5F5F5;
  border-width: 1px;
  border-style: solid;
  border-color: #444444;
}

button.btn-toggle-server {
  width: calc(100% - 14px);
  margin: 10px 0px 0px 6px;
  height: 48px;
}

.title-bar {
  position: relative;
  font-family: "Arial", sans-serif;
  background: black;
  padding: 0;
  padding-bottom: 4px;
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  align-items: center;
  transition: color 48ms cubic-bezier(0.47, 0, 0.745, 0.715), background 48ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.theme--default .title-bar {
  color: #111111;
  background: #F5F5F5;
}

.theme--dark .title-bar {
  color: #F5F5F5;
  background: #191a1b;
}

.title-bar:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -3px;
  height: 1px;
  width: calc(100% + 6px);
  transition: background 48ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.theme--default .title-bar:after {
  background: #dee3e6;
}

.theme--dark .title-bar:after {
  background: #555555;
}

.theme--default .title-bar.inactive {
  background: #F5F5F5;
}

.theme--dark .title-bar.inactive {
  background: #191a1b;
}

.title-bar-text {
  font-weight: bold;
  letter-spacing: 0;
  margin-right: 24px;
  padding: 3px 2px 3px 6px;
}

.title-bar-controls {
  display: flex;
}

.title-bar-controls button {
  padding: 0;
  display: block;
  min-width: 30px;
  min-height: 28px;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  border-radius: 2px;
  transition: background 140ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.title-bar-controls button path {
  transition: fill 48ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.theme--default .title-bar-controls button path {
  fill: #111111;
}

.theme--dark .title-bar-controls button path {
  fill: #F5F5F5;
}

.title-bar-controls button:hover {
  background: rgba(70, 82, 143, 0.1);
}

.title-bar-controls button:hover path {
  fill: #46528f;
  transition: fill 140ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.title-bar-controls button:active {
  padding: 0;
}

.title-bar-controls button:focus {
  outline: none;
}

.title-bar-controls button[aria-label="Minimize"] > svg {
  width: 11px;
  align-self: flex-end;
  margin-bottom: 8px;
}

.title-bar-controls button[aria-label="Close"] > svg {
  width: 11px;
  align-self: center;
}

.window {
  -webkit-user-select: none;
}

.title-bar {
  -webkit-app-region: drag;
}

.window {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  padding: 3px;
  height: 100vh;
  transition: background 48ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.theme--default .window {
  background: #F5F5F5;
}

.theme--dark .window {
  background: #191a1b;
}

.window {
  transition: color 48ms cubic-bezier(0.47, 0, 0.745, 0.715), background 48ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.theme--default .window {
  color: #111111;
  background: #F5F5F5;
}

.theme--dark .window {
  color: #F5F5F5;
  background: #191a1b;
}

.window-body {
  position: relative;
  height: calc(100% - 20px);
}

.window-body__inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
}

.server-form {
  position: relative;
  height: 100%;
  width: 266px;
  min-width: 266px;
  max-width: 266px;
  margin: 0;
  padding: 0;
  transition: color 48ms cubic-bezier(0.47, 0, 0.745, 0.715), background 48ms cubic-bezier(0.47, 0, 0.745, 0.715), border-color 48ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.theme--default .server-form {
  background: #efeff3;
  color: #111111;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: #dee3e6;
}

.theme--dark .server-form {
  background: #2A2A2A;
  color: #F5F5F5;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: #555555;
}

.server-form:before, .server-form:after {
  content: '';
  position: absolute;
  z-index: 999999;
  pointer-events: none;
  transition: background 48ms cubic-bezier(0.47, 0, 0.745, 0.715), border-color 48ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.theme--default .server-form:before, .theme--default .server-form:after {
  background: #efeff3;
}

.theme--dark .server-form:before, .theme--dark .server-form:after {
  background: #2A2A2A;
}

.server-form:before {
  width: calc(100% + 19px);
  height: 3px;
  top: auto;
  bottom: -3px;
  right: -1px;
}

.theme--default .server-form:before {
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: #dee3e6;
}

.theme--dark .server-form:before {
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: #555555;
}

.server-form:after {
  top: auto;
  bottom: 0;
  left: -3px;
  width: 3px;
  height: 100%;
}

.toggle-wrapper {
  position: relative;
  z-index: 99999;
  height: 0;
  overflow: visible;
  will-change: transform, opacity;
  backface-visibility: hidden;
  visibility: hidden;
  opacity: 0;
  transform-origin: 50% 0%;
  transform: scaleY(0.96) translateY(0px);
  transition: transform 140ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 380ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.toggle-wrapper > * {
  position: absolute;
  top: 0;
  left: 0;
}

.toggle-wrapper.is--open {
  visibility: visible;
  opacity: 1;
  transform: scaleY(1) translateY(8px);
}

form#queryserver {
  position: relative;
  width: 100%;
  max-width: calc(100% - 14px);
  margin-left: 6px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
  padding: 17.6px;
  border-radius: 6px;
  transition: background 48ms cubic-bezier(0.47, 0, 0.745, 0.715), border-color 48ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.theme--default form#queryserver {
  background: #F5F5F5;
}

.theme--dark form#queryserver {
  background: #191a1b;
}

form#queryserver > span {
  font-weight: bold;
  display: block;
  margin: 0 0 5px 0;
  font-size: 13px;
  letter-spacing: 0.6px;
  transition: color 48ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.theme--default form#queryserver > span {
  color: #111111;
}

.theme--dark form#queryserver > span {
  color: #F5F5F5;
}

form#queryserver input, form#queryserver button {
  font-family: "Circular Std Book", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

form#queryserver input {
  padding: 8px 8px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  letter-spacing: 0.6px;
  transition: color 48ms cubic-bezier(0.47, 0, 0.745, 0.715), background 48ms cubic-bezier(0.47, 0, 0.745, 0.715), border-color 48ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.theme--default form#queryserver input {
  background: #efeff3;
  color: #111111;
  border-color: #AAAAAA;
}

.theme--dark form#queryserver input {
  background: #2A2A2A;
  color: #F5F5F5;
  border-color: #444444;
}

.theme--default form#queryserver input::-webkit-input-placeholder {
  color: #111111;
}

.theme--dark form#queryserver input::-webkit-input-placeholder {
  color: #F5F5F5;
}

.theme--default form#queryserver input:-ms-input-placeholder {
  color: #111111;
}

.theme--dark form#queryserver input:-ms-input-placeholder {
  color: #F5F5F5;
}

.theme--default form#queryserver input::placeholder {
  color: #111111;
}

.theme--dark form#queryserver input::placeholder {
  color: #F5F5F5;
}

form#queryserver .form-group {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  margin-bottom: 8px;
}

form#queryserver .form-group > input {
  width: auto;
  max-width: auto;
}

form#queryserver .form-group:not(.form-group--ip-port) > input, form#queryserver .form-group:not(.form-group--ip-port) > button {
  width: 100%;
}

form#queryserver .form-group.form-group--ip-port > input:first-child {
  width: calc(68% - 8px);
}

form#queryserver .form-group.form-group--ip-port > input:last-child {
  width: 32%;
}

form#queryserver button {
  width: 100%;
  height: 42px;
}

.fav-list-wrapper {
  position: absolute;
  top: 62px;
  left: 0;
  width: 266px;
  padding: 8px 4px 0 6px;
  height: calc(100% - 68px);
}

ul#fav-list {
  list-style: none;
  list-style-type: none;
  padding-right: 6px;
  padding-bottom: 20px;
  height: 100%;
  overflow-y: auto;
}

ul#fav-list > li {
  list-style: none;
  list-style-type: none;
}

ul#fav-list::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

ul#fav-list::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

ul#fav-list::-webkit-scrollbar-thumb {
  background: #46528f;
  border: none;
  border-radius: 50px;
}

ul#fav-list::-webkit-scrollbar-thumb:hover {
  background: #353e6d;
}

ul#fav-list::-webkit-scrollbar-thumb:active {
  background: #2d355c;
}

ul#fav-list::-webkit-scrollbar-track {
  background: transparent;
  border: none;
  border-radius: 50px;
}

ul#fav-list::-webkit-scrollbar-track:hover {
  background: transparent;
}

ul#fav-list::-webkit-scrollbar-track:active {
  background: transparent;
}

ul#fav-list::-webkit-scrollbar-corner {
  background: transparent;
}

ul#fav-list > li.fav-server {
  position: relative;
  display: block;
  padding: 12.8px 16px;
  border-radius: 7.5px;
  margin: 4px 0;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  transition: border-color 48ms cubic-bezier(0.47, 0, 0.745, 0.715), background 48ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

ul#fav-list > li.fav-server:first-child {
  margin-top: 0;
}

ul#fav-list > li.fav-server:last-child {
  margin-bottom: 0;
}

.theme--default ul#fav-list > li.fav-server {
  background: #efeff3;
  border-color: #efeff3;
}

.theme--dark ul#fav-list > li.fav-server {
  background: #2A2A2A;
  border-color: #2A2A2A;
}

ul#fav-list > li.fav-server:hover {
  transition: background 380ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.theme--default ul#fav-list > li.fav-server:hover {
  background: #f6f6f8;
}

.theme--dark ul#fav-list > li.fav-server:hover {
  background: #303030;
}

ul#fav-list > li.fav-server:hover .fav-server__actions {
  opacity: 1;
  pointer-events: all;
}

ul#fav-list > li.fav-server:active {
  transition: background 140ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.theme--default ul#fav-list > li.fav-server:active {
  background: #e8e8ee;
}

.theme--dark ul#fav-list > li.fav-server:active {
  background: #242424;
}

ul#fav-list > li.fav-server .fav-server__name {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 900;
  font-size: 18px;
  flex-basis: 100%;
}

ul#fav-list > li.fav-server .fav-server__address {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 12px;
  letter-spacing: 0.4px;
  margin-top: 2.66667px;
  transition: color 48ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.theme--default ul#fav-list > li.fav-server .fav-server__address {
  color: #6A6A6A;
}

.theme--dark ul#fav-list > li.fav-server .fav-server__address {
  color: #D1D1D1;
}

ul#fav-list > li.fav-server .fav-server__name,
ul#fav-list > li.fav-server .fav-server__address {
  padding-right: 36px;
}

ul#fav-list > li.fav-server .fav-server__actions {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: auto;
  opacity: 0;
  pointer-events: none;
  transition: opacity 140ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

ul#fav-list > li.fav-server .fav-server__actions > button {
  width: auto;
  height: 32px;
  padding: 0 16px 0 8px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: none;
  background: none;
  transition: color 48ms cubic-bezier(0.47, 0, 0.745, 0.715), opacity 140ms cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 0.4;
}

.theme--default ul#fav-list > li.fav-server .fav-server__actions > button {
  color: #6A6A6A;
}

.theme--dark ul#fav-list > li.fav-server .fav-server__actions > button {
  color: #D1D1D1;
}

ul#fav-list > li.fav-server .fav-server__actions > button > svg {
  width: 10px;
}

.theme--default ul#fav-list > li.fav-server .fav-server__actions > button > svg path {
  fill: #111111;
}

.theme--dark ul#fav-list > li.fav-server .fav-server__actions > button > svg path {
  fill: #F5F5F5;
}

ul#fav-list > li.fav-server .fav-server__actions > button:hover {
  opacity: 1;
}

.theme--default ul#fav-list > li.fav-server.is--active {
  background: #fbfbfc;
  border-color: #dee3e6;
}

.theme--dark ul#fav-list > li.fav-server.is--active {
  background: #343434;
  border-color: #555555;
}

section#server {
  flex-basis: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 24px;
}

section#server::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

section#server::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

section#server::-webkit-scrollbar-thumb {
  background: #46528f;
  border: none;
  border-radius: 50px;
}

section#server::-webkit-scrollbar-thumb:hover {
  background: #353e6d;
}

section#server::-webkit-scrollbar-thumb:active {
  background: #2d355c;
}

section#server::-webkit-scrollbar-track {
  background: transparent;
  border: none;
  border-radius: 50px;
}

section#server::-webkit-scrollbar-track:hover {
  background: transparent;
}

section#server::-webkit-scrollbar-track:active {
  background: transparent;
}

section#server::-webkit-scrollbar-corner {
  background: transparent;
}

section#server #server__details > ul {
  list-style: none;
  list-style-type: none;
  font-size: 16px;
  letter-spacing: 0.1px;
}

section#server #server__details > ul > li {
  list-style: none;
  list-style-type: none;
}

section#server #server__details > ul > li {
  margin: 6px 0;
}

section#server #server__details > ul > li:first-child {
  margin-top: 0;
}

section#server #server__details > ul > li:last-child {
  margin-bottom: 0;
}

section#server table {
  width: calc(100% + 4px);
  padding: 0;
  margin: 24px auto 32px auto;
  margin-left: -2px;
}

section#server table thead, section#server table tbody {
  padding: 0;
}

section#server table thead th {
  padding-bottom: 8px;
}

section#server table tbody td {
  padding: 3px 0;
}

/*# sourceMappingURL=styles.css.map */