/* Spacing */
/* Some detailed computations for radio buttons and checkboxes */
/* Borders */
/* Window borders flip button-face and button-highlight */
/* Field borders (checkbox, input, etc) flip window-frame and button-shadow */
@font-face {
  font-family: "Pixelated MS Sans Serif";
  src: url("../fonts/converted/ms_sans_serif.woff") format("woff");
  src: url("../fonts/converted/ms_sans_serif.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pixelated MS Sans Serif";
  src: url("../fonts/converted/ms_sans_serif_bold.woff") format("woff");
  src: url("../fonts/converted/ms_sans_serif_bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

html, body {
  margin: 0;
}

html button, html input, html ol#fav-list, html li.fav-server, body button, body input, body ol#fav-list, body li.fav-server {
  -webkit-app-region: no-drag;
}

html {
  height: -webkit-fill-available;
}

body {
  position: relative;
  font-family: Arial;
  font-size: 12px;
  color: #222222;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  max-height: 100vh;
  -webkit-app-region: no-drag;
  overflow: hidden;
}

button,
label,
input,
textarea,
select,
option,
ul.tree-view,
.window,
.title-bar {
  font-family: "Pixelated MS Sans Serif", Arial;
  -webkit-font-smoothing: none;
  font-size: 11px;
}

.window {
  -webkit-user-select: none;
}

.title-bar {
  -webkit-app-region: drag;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

u {
  text-decoration: none;
  border-bottom: 0.5px solid #222222;
}

button {
  box-sizing: border-box;
  border: none;
  background: #c0c0c0;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #ffffff, inset -2px -2px #808080, inset 2px 2px #dfdfdf;
  border-radius: 0;
  min-width: 75px;
  min-height: 23px;
  padding: 0 12px;
}

.vertical-bar {
  width: 4px;
  height: 20px;
  background: #c0c0c0;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #ffffff, inset -2px -2px #808080, inset 2px 2px #dfdfdf;
}

button:not(:disabled):active {
  box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;
  padding: 2px 11px 0 13px;
}

@media (false) {
  button:not(:disabled):hover {
    box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;
  }
}

button:focus {
  outline: 1px dotted #000000;
  outline-offset: -4px;
}

button::-moz-focus-inner {
  border: 0;
}

:disabled,
:disabled + label {
  color: #808080;
  text-shadow: 1px 1px 0 #ffffff;
}

.window {
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px #808080, inset 2px 2px #ffffff;
  background: #c0c0c0;
  padding: 3px;
  height: 100vh;
}

.title-bar {
  background: linear-gradient(90deg, #000080, #1084d0);
  padding: 3px 2px 3px 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-bar.inactive {
  background: linear-gradient(90deg, #808080, #b5b5b5);
}

.title-bar-text {
  font-weight: bold;
  color: white;
  letter-spacing: 0;
  margin-right: 24px;
}

.title-bar-controls {
  display: flex;
}

.title-bar-controls button {
  padding: 0;
  display: block;
  min-width: 16px;
  min-height: 14px;
}

.title-bar-controls button:active {
  padding: 0;
}

.title-bar-controls button:focus {
  outline: none;
}

.title-bar-controls button[aria-label="Minimize"] {
  background-image: url("./icon/minimize.svg");
  background-repeat: no-repeat;
  background-position: bottom 3px left 4px;
}

.title-bar-controls button[aria-label="Maximize"] {
  background-image: url("./icon/maximize.svg");
  background-repeat: no-repeat;
  background-position: top 2px left 3px;
}

.title-bar-controls button[aria-label="Restore"] {
  background-image: url("./icon/restore.svg");
  background-repeat: no-repeat;
  background-position: top 2px left 3px;
}

.title-bar-controls button[aria-label="Help"] {
  background-image: url("./icon/help.svg");
  background-repeat: no-repeat;
  background-position: top 2px left 5px;
}

.title-bar-controls button[aria-label="Close"] {
  margin-left: 2px;
  background-image: url("./icon/close.svg");
  background-repeat: no-repeat;
  background-position: top 3px left 4px;
}

.window-body {
  margin: 8px;
}

fieldset {
  border: none;
  box-shadow: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #808080, inset 2px 2px #dfdfdf;
  padding: calc(2 * 1px + 8px);
  padding-block-start: 8px;
  margin: 0;
}

legend {
  background: #c0c0c0;
}

.field-row {
  display: flex;
  align-items: center;
}

[class^="field-row"] + [class^="field-row"] {
  margin-top: 6px;
}

.field-row > * + * {
  margin-left: 6px;
}

.field-row-stacked {
  display: flex;
  flex-direction: column;
}

.field-row-stacked * + * {
  margin-top: 6px;
}

label {
  display: inline-flex;
  align-items: center;
}

input[type="radio"],
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  background: 0;
  position: fixed;
  opacity: 0;
  border: none;
}

input[type="radio"] + label,
input[type="checkbox"] + label {
  line-height: 13px;
}

input[type="radio"] + label {
  position: relative;
  margin-left: calc(18px);
}

input[type="radio"] + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: calc(-1 * (18px));
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 6px;
  background: url("./icon/radio-border.svg");
}

input[type="radio"]:active + label::before {
  background: url("./icon/radio-border-disabled.svg");
}

input[type="radio"]:checked + label::after {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  top: calc(12px / 2 - 4px / 2);
  left: calc(-1 * (18px) + 12px / 2 - 4px / 2);
  position: absolute;
  background: url("./icon/radio-dot.svg");
}

input[type="radio"]:focus + label,
input[type="checkbox"]:focus + label {
  outline: 1px dotted #000000;
}

input[type="radio"][disabled] + label::before {
  background: url("./icon/radio-border-disabled.svg");
}

input[type="radio"][disabled]:checked + label::after {
  background: url("./icon/radio-dot-disabled.svg");
}

input[type="checkbox"] + label {
  position: relative;
  margin-left: calc(19px);
}

input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  left: calc(-1 * (19px));
  display: inline-block;
  width: 13px;
  height: 13px;
  background: #ffffff;
  box-shadow: inset -1px -1px #ffffff, inset 1px 1px #808080, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
  margin-right: 6px;
}

input[type="checkbox"]:active + label::before {
  background: #c0c0c0;
}

input[type="checkbox"]:checked + label::after {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  position: absolute;
  top: 3px;
  left: calc( -1 * (19px) + 3px);
  background: url("./icon/checkmark.svg");
}

input[type="checkbox"][disabled] + label::before {
  background: #c0c0c0;
}

input[type="checkbox"][disabled]:checked + label::after {
  background: url("./icon/checkmark-disabled.svg");
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
  padding: 3px 4px;
  border: none;
  box-shadow: inset -1px -1px #ffffff, inset 1px 1px #808080, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
  background-color: #ffffff;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
  height: 21px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  /* For some reason descenders are getting cut off without this */
  line-height: 2;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  padding-right: 32px;
  background-image: url("./icon/button-down.svg");
  background-position: top 2px right 2px;
  background-repeat: no-repeat;
  border-radius: 0;
}

select:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 21px;
  width: 11px;
  background: url("./icon/indicator-horizontal.svg");
  transform: translateY(-8px);
}

input[type="range"].has-box-indicator::-webkit-slider-thumb {
  background: url("./icon/indicator-rectangle-horizontal.svg");
  transform: translateY(-10px);
}

input[type="range"]::-moz-range-thumb {
  height: 21px;
  width: 11px;
  border: 0;
  border-radius: 0;
  background: url("./icon/indicator-horizontal.svg");
  transform: translateY(2px);
}

input[type="range"].has-box-indicator::-moz-range-thumb {
  background: url("./icon/indicator-rectangle-horizontal.svg");
  transform: translateY(0px);
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  box-sizing: border-box;
  background: black;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  box-shadow: 1px 0 0 white, 1px 1px 0 white, 0 1px 0 white, -1px 0 0 darkgrey, -1px -1px 0 darkgrey, 0 -1px 0 darkgrey, -1px 1px 0 white, 1px -1px darkgrey;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 2px;
  box-sizing: border-box;
  background: black;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  box-shadow: 1px 0 0 white, 1px 1px 0 white, 0 1px 0 white, -1px 0 0 darkgrey, -1px -1px 0 darkgrey, 0 -1px 0 darkgrey, -1px 1px 0 white, 1px -1px darkgrey;
}

.is-vertical {
  display: inline-block;
  width: 4px;
  height: 150px;
  transform: translateY(50%);
}

.is-vertical > input[type="range"] {
  width: 150px;
  height: 4px;
  margin: 0 calc(6px + 10px) 0 10px;
  transform-origin: left;
  transform: rotate(270deg) translateX(calc(-50% + 8px));
}

.is-vertical > input[type="range"]::-webkit-slider-runnable-track {
  border-left: 1px solid grey;
  border-right: 0;
  border-bottom: 1px solid grey;
  box-shadow: -1px 0 0 white, -1px 1px 0 white, 0 1px 0 white, 1px 0 0 darkgrey, 1px -1px 0 darkgrey, 0 -1px 0 darkgrey, 1px 1px 0 white, -1px -1px darkgrey;
}

.is-vertical > input[type="range"]::-moz-range-track {
  border-left: 1px solid grey;
  border-right: 0;
  border-bottom: 1px solid grey;
  box-shadow: -1px 0 0 white, -1px 1px 0 white, 0 1px 0 white, 1px 0 0 darkgrey, 1px -1px 0 darkgrey, 0 -1px 0 darkgrey, 1px 1px 0 white, -1px -1px darkgrey;
}

.is-vertical > input[type="range"]::-webkit-slider-thumb {
  transform: translateY(-8px) scaleX(-1);
}

.is-vertical > input[type="range"].has-box-indicator::-webkit-slider-thumb {
  transform: translateY(-10px) scaleX(-1);
}

.is-vertical > input[type="range"]::-moz-range-thumb {
  transform: translateY(2px) scaleX(-1);
}

.is-vertical > input[type="range"].has-box-indicator::-moz-range-thumb {
  transform: translateY(0px) scaleX(-1);
}

select:focus {
  color: #ffffff;
  background-color: #000080;
}

select:focus option {
  color: #000;
  background-color: #fff;
}

select:active {
  background-image: url("./icon/button-down-active.svg");
}

a {
  color: #0000ff;
}

a:focus {
  outline: 1px dotted #0000ff;
}

ul.tree-view {
  display: block;
  background: #ffffff;
  box-shadow: inset -1px -1px #ffffff, inset 1px 1px #808080, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
  padding: 6px;
  margin: 0;
}

ul.tree-view li {
  list-style-type: none;
}

ul.tree-view a {
  text-decoration: none;
  color: #000;
}

ul.tree-view a:focus {
  background-color: #000080;
  color: #ffffff;
}

ul.tree-view ul,
ul.tree-view li {
  margin-top: 3px;
}

ul.tree-view ul {
  margin-left: 16px;
  padding-left: 16px;
  /* Goes down too far */
  border-left: 1px dotted #808080;
}

ul.tree-view ul > li {
  position: relative;
}

ul.tree-view ul > li::before {
  content: "";
  display: block;
  position: absolute;
  left: -16px;
  top: 6px;
  width: 12px;
  border-bottom: 1px dotted #808080;
}

/* Cover the bottom of the left dotted border */
ul.tree-view ul > li:last-child::after {
  content: "";
  display: block;
  position: absolute;
  left: -20px;
  top: 7px;
  bottom: 0px;
  width: 8px;
  background: #ffffff;
}

ul.tree-view details {
  margin-top: 0;
}

ul.tree-view details[open] summary {
  margin-bottom: 0;
}

ul.tree-view ul details > summary:before {
  margin-left: -22px;
  position: relative;
  z-index: 1;
}

ul.tree-view details > summary:before {
  text-align: center;
  display: block;
  float: left;
  content: "+";
  border: 1px solid #808080;
  width: 8px;
  height: 9px;
  line-height: 8px;
  margin-right: 5px;
  padding-left: 1px;
  background-color: #fff;
}

ul.tree-view details[open] > summary:before {
  content: "-";
}

pre {
  display: block;
  background: #ffffff;
  box-shadow: inset -1px -1px #ffffff, inset 1px 1px #808080, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
  padding: 12px 8px;
  margin: 0;
}

code,
code * {
  font-family: monospace;
}

summary:focus {
  outline: 1px dotted #000000;
}

::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar:horizontal {
  height: 17px;
}

::-webkit-scrollbar-corner {
  background: #dfdfdf;
}

::-webkit-scrollbar-track {
  background-image: url("./icon/scrollbar-background.svg");
}

::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #ffffff, inset -2px -2px #808080, inset 2px 2px #dfdfdf;
}

::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:horizontal:end:increment,
::-webkit-scrollbar-button:vertical:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment {
  display: block;
}

::-webkit-scrollbar-button:vertical:start {
  height: 17px;
  background-image: url("./icon/button-up.svg");
}

::-webkit-scrollbar-button:vertical:end {
  height: 17px;
  background-image: url("./icon/button-down.svg");
}

::-webkit-scrollbar-button:horizontal:start {
  width: 16px;
  background-image: url("./icon/button-left.svg");
}

::-webkit-scrollbar-button:horizontal:end {
  width: 16px;
  background-image: url("./icon/button-right.svg");
}

#server__details {
  min-height: 48px;
  display: block;
  margin: 16px 0 12px 0;
}

#server__details > ul {
  list-style: none;
  list-style-type: none;
  display: block;
  padding: 0;
}

#server__details > ul li {
  margin: 6px 0;
  list-style: none;
  list-style-type: none;
}

section#server {
  margin-top: 8px;
}

section#server table {
  height: calc(100vh - 256px);
  overflow-y: auto;
  display: block;
  width: 100%;
}

section#server table thead, section#server table tbody {
  width: 100%;
  display: block;
}

section#server table thead th {
  padding-bottom: 8px;
}

section#server table tr {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section#server table td {
  padding: 6px 0px;
}

ul#fav-list {
  width: 100%;
  padding: 0 0;
  margin-top: 8px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 108px;
}

ul#fav-list > li.fav-server {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 1px 2px;
  border: 1px dotted rgba(0, 0, 0, 0);
  cursor: pointer;
}

ul#fav-list > li.fav-server > div {
  padding: 0 8px;
  letter-spacing: 0.3px;
}

ul#fav-list > li.fav-server > div:first-child {
  width: auto;
  min-width: 64px;
  max-width: 125px;
}

ul#fav-list > li.fav-server > div:nth-child(2) {
  flex: 1;
}

ul#fav-list > li.fav-server > div:last-child {
  flex: 1;
  max-width: 75px;
}

ul#fav-list > li.fav-server:focus, ul#fav-list > li.fav-server.is--active {
  border: 1px dotted #000000;
}

ul#fav-list > li.fav-server:focus > div:first-child, ul#fav-list > li.fav-server.is--active > div:first-child {
  font-weight: bold;
}

ul#fav-list .fav-server__address {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

h4 {
  display: block;
  margin: 24px 0 12px 0;
  font-size: 11px;
}

table {
  width: 100%;
  font-family: "Pixelated MS Sans Serif", Arial;
  -webkit-font-smoothing: none;
  font-size: 11px;
  background: #ffffff;
  box-shadow: inset -1px -1px #ffffff, inset 1px 1px #808080, inset -2px -2px #dfdfdf, inset 2px 2px #0a0a0a;
  padding: 6px;
  margin: 0;
}

table tbody td {
  padding-top: 3px;
}

table tbody > tr:first-child td {
  padding-top: 8px;
}

form#queryserver {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

form#queryserver input, form#queryserver button {
  flex: 1;
  margin: 0 3px;
}

form#queryserver input:first-child {
  margin-left: 0;
}

form#queryserver input:nth-child(3) {
  max-width: 77px;
  margin-right: 8%;
}

form#queryserver button {
  max-width: 77px;
  margin-right: 0;
}

button#refresh {
  position: fixed;
  top: 315px;
  right: 12px;
}

table.server__playerlist {
  width: calc(100% - 12px);
  display: inline-block;
}

table.server__playerlist > tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

table.server__playerlist > tr:first-child {
  flex: 2;
}

table.server__playerlist > tr:nth-child(2), table.server__playerlist > tr:nth-child(3) {
  flex: 1;
}

/*# sourceMappingURL=styles.css.map */