.title-bar {
  position: relative;
  font-family: $system-font;
  background: black;
  padding: 0;
  padding-bottom: 4px;
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  align-items: center;
  @include themed() {
    color: t($text);
    background: t($bg);
  }
  transition: color $timing-xs $ease-in, background $timing-xs $ease-in;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -3px;
    height: $border-width / 2;
    width: calc(100% + 6px);
    @include themed() {
      background: t($border);
    }
    transition: background $timing-xs $ease-in;
  }
}
.title-bar.inactive {
  @include themed() {
    background: t($bg);
  }
}

.title-bar-text {
  font-weight: bold;
  letter-spacing: 0;
  margin-right: 24px;
  padding: 3px 2px 3px 4px;
}
.title-bar-controls {
  display: flex;
}

.title-bar-controls button {
  padding: 0;
  display: block;
  // min-width: 16px;
  // min-height: 14px;
  min-width: 28px;
  min-height: 28px;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  border-radius: $border-radius-sm;
  transition: background $timing-sm $ease-out;
  path {
    @include themed() {
      fill: t($text);
    }
    transition: fill $timing-xs $ease-in;
  }
  &:hover {
    background: rgba($primary, 0.1);
    path {
      fill: $primary;
      transition: fill $timing-sm $ease-in;
    }
  }
}

.title-bar-controls button:active {
  padding: 0;
}

.title-bar-controls button:focus {
  outline: none;
}

.title-bar-controls button[aria-label="Minimize"] {
  & > svg {
    width: 11px;
    align-self: flex-end;
    margin-bottom: 7px;
  }
}

.title-bar-controls button[aria-label="Maximize"] {

}


.title-bar-controls button[aria-label="Close"] {
  & > svg {
    width: 11px;
    align-self: center;
  }
}